Source: ${ packagename }
Section: misc
Priority: optional
Maintainer: ${ metadata.get('Author', 'unknown') }
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: ${ metadata.get('Home-page', 'unknown') }

<% import pkg_resources %>Package: ${ packagename }
Architecture: all
Depends: ${ '${misc:Depends}' }, dominator (= ${ pkg_resources.get_distribution('dominator').version })
Description: Dead Obedient for ${ packagename }
 Dominator is a tools to generate config for provisioning
 cloud services using Docker.
 This package provides config to run one node on it using it.
